/* variable couleur */
:root {
    --colorTheme1: #8aa1ba;
    --colorTheme2:#212E53;
    --colorTheme3:whitesmoke;

    
}

/* div  */
div.main{
	margin: auto;
	width: 700px;height: 600px;background:linear-gradient(white, #bfc0c1);text-align: center;
	border:solid;border-width: 3px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px var(--colorTheme1);
	border-left-color:var(--colorTheme2);border-top-color:var(--colorTheme2);border-right-color:var(--colorTheme2);border-bottom-color: var(--colorTheme2);
}


/* input du titre */

input.titre{
    width: 500px; border: 2px solid black
}

h2{
    margin-bottom: 50px;
    font-size: 15px;
}





/* LES BOUTONS */



button{
    width: 140px;
    height: 30px;
    border: none;
    color: white;
    padding: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 10px 0px;
}


/* Normalizer */
button.btnNormalize:hover{
    color: black;
    box-shadow: 5px 5px 7px gray;
}

button.btnNormalize{
        background-color:var(--colorTheme2);
         
         
}

/* Clear */
button.btnClear:hover{
    color: black;
    box-shadow: 5px 5px 7px gray;
}

button.btnClear{
    background-color:var(--colorTheme1);
     
}


/* DIV RESULTAT */

div.divResultVisible{
    display: block;
}

div.divResultHidden{
    display: none;
}

/*Le texte du resultat*/
p.resultat{
    margin-left: 10px;margin-right: 10px;
    padding-top: 10px;padding-bottom: 10px;
    border:solid;border-radius: 10px;
    border-color: var(--colorTheme1);
    font-weight: bold;
}

p.nomNormalise{
    margin-top: 80px;
}


/* Notification de copie */

p.pNotifyHidden{
    display: none;
}

p.pNotifyVisible{
    color: #d50100;
    display: inline;
    font-size: 25px;
}


