/* variable couleur */
:root {
    --colorTheme1: #8aa1ba;
    --colorTheme2:#212E53;
    --colorTheme3:whitesmoke;

    /* Mention */
    --widthDivMention:200px;
    --borderRadiusDivMention:5px;
    --marginBottomDivMention:20px;
    --NPColor:white;
    --DRColor:rgb(244, 231, 115);
    --CDColor:rgb(99, 244, 171);
    --SDColor:rgb(245, 118, 96);
    
}

/* input du titre */

input.titre{
    width: 500px; border: 2px solid black
}

h2{
    margin-bottom: 50px;
    font-size: 15px;
}





/* LES BOUTONS */



button{
    width: 140px;
    height: 30px;
    border: none;
    color: white;
    padding: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 10px 0px;
}


/* Normalizer */
button.btnNormalize:hover{
    color: black;
    box-shadow: 5px 5px 7px gray;
}

button.btnNormalize{
        background-color:var(--colorTheme2);
         
         
}

/* Clear */
button.btnClear:hover{
    color: black;
    box-shadow: 5px 5px 7px gray;
}

button.btnClear{
    background-color:var(--colorTheme1);
     
}



/* Les div de chaque mention */
div.localDivMentionClass{
    display: inline;
}


/* MENTION */

/* Div du composant */
div.globalDivMentionClassNP{
    background-color:var(--NPColor);
    width: var(--widthDivMention);
    border-radius: var(--borderRadiusDivMention);
    margin: auto;
    margin-bottom: var(--marginBottomDivMention);
}

div.globalDivMentionClassDR{
    background-color:var(--DRColor);
    width: var(--widthDivMention);
    border-radius: var(--borderRadiusDivMention);
    margin: auto;
    margin-bottom: var(--marginBottomDivMention);
}

div.globalDivMentionClassCD{
    background-color:var(--CDColor);
    width: var(--widthDivMention);
    border-radius: var(--borderRadiusDivMention);
    margin: auto;
    margin-bottom: var(--marginBottomDivMention);
}

div.globalDivMentionClassSD{
    background-color:var(--SDColor);
    width: var(--widthDivMention);
    border-radius: var(--borderRadiusDivMention);
    margin: auto;
    margin-bottom: var(--marginBottomDivMention);
}